<!-- forum/templates/forum/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav style="display: flex; justify-content: space-between; padding: 2% 5%; background-color: #1a1a1a;">
        <!-- Left side: username or Guest -->
        <div style="width: 50%;">
            <a href={% url 'topic_list' %}>
            {% if request.user.is_authenticated %}
                Logged in as <strong>{{ request.user.username }}</strong>
            {% else %}
                Logged in as <strong>Guest</strong>
            {% endif %}
            </a>
        </div>

        <!-- Right side: links -->
        <div style="width: 50%; text-align: right;">
            {% if request.user.is_authenticated %}
                <a href="{% url 'custom_logout' %}">Logout</a> |
                <a href="{% url 'create_topic' %}">New Topic</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'signup' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    <div style="width: 90%; margin: 0 auto; padding: 2%;">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>

