<!-- forum/templates/forum/topic_detail.html -->
{% extends 'forum/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="topic">
            <h1>{{ topic.title }}</h1>
            <p>{{ topic.body }}</p>
            <p><strong>Created by:</strong> {{ topic.author.username }} | <strong>Posted at:</strong> {{ topic.created_at }}
            {% if request.user == topic.author %}
            | <a href="{% url 'edit_topic' topic.id %}">Edit</a> | <a href="{% url 'delete_topic' topic.id %}">Delete</a></p>
            {% else %}
            </p>
            {% endif %}
        </div>

        <div class="reply-form">
            <h2>Leave a Reply</h2>
            {% if request.user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Post Reply</button>
            </form>
            {% else %}
                <p><a href={% url "login" %}>Login</a> to reply.</p>
            {% endif %}
        </div>


        <div class="replies">
            <h3>Replies</h3>
            {% for reply in replies %}
                <div class="reply">
                    <p>{{ reply.body }}</p>
                    <p><strong>Posted by:</strong> {{ reply.author.username }} | <strong>Posted at:</strong> {{ reply.created_at }}
                    {% if request.user == reply.author %}
                    | <a href="{% url 'edit_reply' topic.id reply.id %}">Edit</a> | <a href="{% url 'delete_reply' topic.id reply.id %}">Delete</a> </p>
                    {% else %}
                    </p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No replies yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

